{% extends "base.html" %}
{% block content%}
<div class='inventory_list'>
<div id = 'add_filter'>
   <a id='new_item'  href="/new" >Add New Item</a>
   <div id='filter'>
      <p>Filter by type:</p>
      {% for type in types %}
      <a href="/items/type/{{type}}">{{type}}</a>
       {% endfor %}
   </div> 
</div>
<article>
   {% for item in items%}
   <section class = 'inventory_item'>
      <div class='item_top'>
         <a href="/item/{{item.id}}" class ='img_link'>
            <img src='http://4.bp.blogspot.com/-ZGq2ODB4sTM/UQwObO6Aw1I/AAAAAAAAKG4/Qgg0uznOCZ0/s1600/magic-book.png'>
         </a>
         <div class='name_by_alchemist'>
            <p>{{item.name}}</p>
            <a href='/{{item.alchemist.id}}'>by {{item.alchemist.name}}</a>
         </div>
      </div>
      <p><b>Type:</b> {{item.type}}</p>
      <p class='description'>{{item.description}}</p>
      <div class='cost_price'>
         <p><b>Cost:</b> £{{item.cost}}</p>
         <p><b>Price:</b> £{{item.price}}</p>
      </div>
      <p><b>total:</b> £ {{item.calculate_total()}}</p>
      <div class='quantity'>
         <p><b>Quantity:</b> {{item.quantity}}</p>
         {% if item.low_stock() == True %}
         <p class='low_stock'>low stock</p>
         {% endif %}
         {% if item.out_of_stock() == True %}
         <p class='out_of_stock'>out of stock</p>
         {% endif %}
      </div>
      <div class='buttons'>
         <a href="/items/{{item.id}}/edit" class="material-icons purple">edit</a>
         <button class="material-icons green">add</button>
      </div>
   </section>
{% endfor%}
</article>
</div>
{% endblock %}